@mixin flex-inline-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin user-bold {
    .user{
        @include flex-inline-center;
        cursor: pointer;

        img{
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 50%;
        }
        h5{
            font-size: 1.6rem;
            margin-left: 1rem;
            font-weight: 500;
        }
    }
}

@mixin tag{
    div{
        padding: 1rem 2rem;
        width: fit-content;
        border-radius: 9px;
        background: rgb(67 98 240 / 0.2);
        color: rgb(67 98 240);
        font-weight: bold;
        margin: 1rem;
        cursor: pointer;

        &:hover{
            background: rgb(67 98 240 / 0.3);
        }
    }
}

@mixin tag-shortlist{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 440px;
    flex-wrap: wrap;

    @include tag;
}

@mixin input-default{
    font-size: 1.4rem;
    border: none;
    background: #eee;
    border-radius: 6px;
    outline: none;
    padding: 0.6rem 1.4rem;
    width: 340px;
    &:focus{
        box-shadow: 0 0 0 2px #d3dbff;
    }
}

@import 'posts/item', 'posts/sort';

:root{
    font-size: 10px;
}

*{
    font-family: 'Poppins', sans-serif;
}

html,body{
    margin: 0;
}

.content-wrap{
    width: 1000px;
    margin: 0 auto;

    .content{
        padding: 40px 0;
    }
}

h1,h2,h3,h4,h5{ margin: 0; }

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.input-group{
    width: fit-content;
    margin-bottom: 2rem;

    h5{
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 4px;
    }

    input{
        @include input-default;
    }

    textarea{
        @include input-default;
        width: 560px;
        height: 100px;
        resize: none;
    }

    select{
        width: 200px;
    }
}

button{
    background: #254af2;
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    &:hover{
        background: #1637ce;
    }
}

header{
    @include flex-inline-center;

    justify-content: space-between;
    padding: 10px 40px;
    background: #eee;

    h1{
        color: #254af2;
        letter-spacing: 0.4px;
    }

    ul{
        @include flex-inline-center;

        margin: 0;
        padding: 0;
        list-style: none;

        li{
            padding: 0 10px;

            a{
                font-size: 1.4rem;
                text-decoration: none;
                color: #666;
                cursor: pointer;

                &:hover{
                    color: #333;
                }
            }
        }
    }
}

footer{
    background: #111;
    color: #fff;
    padding: 4rem 0;

        div{
            margin: 0 auto;
            @include flex-inline-center;
            width: fit-content;

            section{
                width: 400px;

                &.brand{
                    h1{
                        width: 100%;
                        letter-spacing: 0.4px;
                        margin-bottom: 0.4rem;
                    }
            
                    span{
                        font-size: 1.4rem;
                    }
                }

                &.links{
                    font-size: 1.4rem;

                    h4{
                        margin-bottom: 1rem;
                    }

                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                
                        li{
                            padding: 0 10px;
                
                            a{
                                font-size: 1.4rem;
                                text-decoration: none;
                                color: #ccc;
                                cursor: pointer;
                
                                &:hover{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
}